<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Selamat Datang di Web Redina - 24051130030</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
